body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStfIblUWgpQWRaepSG4lEnj-rrJWZEzT_ONiOVObzZzSMtvX-k) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
  }
  .background{
    opacity: 0.2;
  
  }
  